.container
  .row
    .col-md-3
      = form_tag regular_transfers_path, class: 'form-horizontal' do
        = field_set_tag do
          %legend Make Transfer

          .control-group
            = label_tag :to_id, 'Account number:', class: 'control-label'
            .controls
              = number_field_tag :to_id
          .control-group
            = label_tag :amount, 'Amount:', class: 'control-label'
            .controls
              = number_field_tag :amount
          .form-actions
            = submit_tag 'Transfer', class: 'btn btn-default'
    .col-md-3
      %ul.list-group
        %li.list-group-item
          Balance:
          = @personal_account.balance
        %li.list-group-item
          Credit limit:
          = @personal_account.limit
        %li.list-group-item
          Volume:
          = @personal_account.volume
        %li.list-group-item
          Account number:
          = @personal_account.id
        %li.list-group-item
          Volume tax:
          %ul.list-group
            %li.list-group-item
              volume <= 30000, y = x
            %li.list-group-item
              volume > 30000, y = 0.1 x
