%ul
  %li= link_to 'Edit', edit_profile_path
  %li= link_to 'Edit advanced', edit_user_registration_path

%h3
  = t('users.profile.basic_settings')
  First name:
  = @profile.first_name
  %br
  Last name:
  = @profile.last_name
  %br
  Phone number:
  = @profile.phone_number
  %br
  - if @profile.phone_number_verified?
    Phone number verified.
  - else
    = button_to "Send verification code via sms!", { action: :send_verification_code }, method: :post
    = form_tag phone_number_code_verify_profile_path do
      = text_field_tag 'phone_number_code'
      = submit_tag "#{t('users.profile.phone_number_code.verify')}"
