.box
  .box-header
    %span.title= ''
    %ul.box-toolbar

  .box-content
    %table.table.table-normal
      %thead
        %tr
          %th
            From
          %th
            To
          %th
            Amount
          %th
            After tax
          %th
            Date
          %th
            Kind
      %tbody
        - @transfer_histories.map(&:transfer).each do |transfer|
          %tr
            %td
              = transfer.from_id
            %td
              = transfer.to_id
            %td
              = transfer.amount
            %td
              = transfer.after_tax
            %td
              = transfer.created_at
            %td
              = transfer.class
    / .table-footer
    /   = paginate @companies
