.container
  .row
    .col-md-3
      Title
    .col-md-1
      From
    .col-md-1
      To
    .col-md-1
      Amount
    .col-md-1
      After volume tax
    .col-md-1
      Date
    .col-md-2
      Kind
- @transfer_histories.map(&:transfer).each do |transfer|
  .row
    .col-md-3
      = transfer.title
    .col-md-1
      = transfer.from_id
    .col-md-1
      = transfer.to_id
    .col-md-1
      = transfer.amount
    .col-md-1
      = transfer.after_tax
    .col-md-1
      = transfer.created_at
    .col-md-2
      = transfer.class
    / .table-footer
    /   = paginate @companies
